.latte {
  width: 100%;        
  max-width: 500px;   
  height: auto;       
  display: block;
  margin: 0 auto;     
}


@media (max-width: 768px) {
  .latte {
    max-width: 400px; 
  }
}

@media (max-width: 480px) {
  .latte {
    max-width: 300px;
  }
}
